* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inconsolata', serif;
}
#logo {
	display: block;
	position: fixed;
	background-color: #fff;
	font-family: "Times New Roman Bold", serif;
	font-style: italic;
    margin: 0 28px 0 10px;
	z-index: 999;
	display: inline-block;
	float: left;
} 
#whitespace {
	padding-bottom: 10px;
	position: fixed;
	width: 0px;
	right: 0px;
	top: 0;
	z-index: 998;
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px #808080;
}
h1 {
    background-color: #fff;
	z-index: 999;
} 
.topnav {
	padding-right: 5px;
	position: relative;
	top: 13.3px;
	margin-left: 168.5px; 
	font-size: 16px;
	font-weight: normal;
	z-index: 999;
}
.contact-btn {
  position: fixed;
    right: 50px;
    margin-top: -4px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid black;
    padding: 0px;
    text-decoration: none; 
    color: #000000;
    font-weight: normal;
    background-color: #fff;
    z-index: 999;
}
#email-form {
	margin-bottom: 55px;
}
@media all and (max-width: 700px) {
	.leftmenu {display: none;}
}
@media screen and (orientation: landscape) 
   and (max-device-width: 481px) {
	.leftmenu {top: 0;
			   bottom: 0;}
}
@media all and (max-width: 600px) {
	.topnav {display: none;}
}
@media all and (max-width: 600px) {
	.contact-btn {margin-top: 16px;}
}
@media all and (max-width: 560px) {
	#whitespace {width: 100%;}
}
@media all and (max-width: 740px) {
	#fabio {margin-bottom: 100px;}
}
#contact_form {
	position: relative;
    text-align: center;
}
#submit_button {
	cursor: pointer;
	background-color: white;
	border: 1px solid black;
	margin-top: 2px;
}
.leftmenu {
	margin-top: 66px;
	margin-left: 12px;
    margin-right: 0px;
	margin-bottom: 100%;
	position: fixed;
	z-index: 1;
	float: left;
}
.submenu {
	display: none;
}
.submenu2 {
	display: none;
}
.submenu3 {
	display: none;

}
.submenu4 {
	display: none;
}
li {
	margin-left: 3px;
	list-style-type: none;
}
h3 {
    font-family: 'Inconsolata', serif;
	font-size:14px;
	font-weight: normal;
	text-align: justify;
	position: relative;
	z-index: 2;
	margin: 206px auto 50px auto;
	width: 44%;
	max-width: 845px;
}
.titles {
	font-size: 18px;
	font-weight: bold;
}
#lewestern {
	z-index: 3;
	position: relative;
	display: none;
	margin-bottom: 120px;
}
#thedarktriad {
	margin-bottom: 152px;
}
#threesevenace {
	margin-top: -99px;
	margin-bottom: 78px;
	
}
#cloudburst {
    margin-bottom: 184px
}
h4 {
	font-family: 'Inconsolata', serif;
	text-align: center;
	border-style: solid;
	border-width: medium;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	display: block;
	padding: 0%;
	box-sizing: border-box;
}
hr {
	font-family: 'Inconsolata', serif;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	display: block;
	color: black;

}
footer {
    font-family: 'Inconsolata', serif;
	font-size: 14px;
	margin-top: 7px;
	text-align: center;
	bottom: 0;
	margin: auto;	
}
.lmenuheaders {
	margin-bottom: 7px;
}
li {
	margin-bottom: 5px;
}
#meme2 {
	border: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	margin-top: -112px;
	max-width: 550px;
}
#meme {
	margin-bottom: 35px;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
#barnsdall2 {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	border: solid;
	display: block;
}
#barnsdall {
	margin-bottom: 94px;
}
#fabio2 {
	margin-left: auto;
	margin-right: auto;
	border: solid;
	display: block;
	margin-top: -112px;
	text-align: justify;
}
#fabio {
	margin-bottom: 35px;
}
.texttrans {
	margin-top: -99px;
	margin-bottom: 55px;
}
#trans3 {
	margin-bottom: 88px
}
#text1 {
	margin-bottom: 0px;
}
.visuals {
	margin-top: -40px;
	position: relative;
}
#cv {
	margin-top: -50px;
	margin-bottom: 186px;
}
#welcome {
	margin-left: auto;
	margin-right: auto;
	height: 525px;
	width: 841px;
	text-align: center;
	color: white;
}
#bk {
	display: inline-block;
	color: black;
	margin-top: 600px;
	float: left;
}
html, body {
	height: 100%;
	margin: 0;
}
#container {
	min-height: 100%;
	margin-bottom: -78px;
}
#pagemark, #push {
	height: 78px;
}
#pagemark {
	position: relative;
	bottom: 0px;
	right: 25%;
	left: 50%;
	margin-left: -320px;
	width: 640px;
	display: block;
}
.card {
    margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.cardLeft {
  border: 1px solid;
  border-radius: 5px;
  height: 70px;
  padding: 0 .5em 0 .5em;
  text-align: center;
  width: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.tens {
  border: 1px solid;
  border-radius: 5px;
  height: 70px;
  padding: 0 .85em 0 .15em;
  text-align: center;
  width: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}
.cards {
  border: 1px solid;
  border-radius: 5px;
  height: 70px;
  padding: 0 .65em 0 .35em;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  font-size: 24px;
}
.cardCenter {
  border: 1px solid;
  border-radius: 5px;
  height: 70px;
  padding: 0 .5em;
  text-align: center;
  width: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.cardRight {
  border: 1px solid;
  border-radius: 5px;
  height: 70px;
  padding: 0 .5em;
  text-align: center;
  width: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.redSuit {
  color: #C23B22;
}

.blackSuit {
  color: #3b3c36;
}
@media all and (max-width: 560px) {
	h3 {width: 85%;}
}
@media all and (max-width: 560px) {
	.texttrans {margin-top: -168px;}
}
@media all and (max-width: 560px) {
	.soundcloud {margin-top: -168px;}
}
@media all and (max-width: 560px) {
	#threesevenace {margin-top: -168px;}
}
@media all and (max-width: 560px) {
	#cv {margin-top: -208px;}
}
#navbar2 {
	font-size: 16px;
	margin-top: 6px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
	
}
.lineup {
	list-style: none;
	position: relative;
}
.navmenu {
	display: inline-block;
}
.navimenu1 {
	margin-top: 10px;
	padding-bottom: 6px;
	display: none;
	background-color: white;
	position: fixed;
	min-width: 100%;
	z-index: 999;
	float: left;
	box-shadow: 0px 5px 2px -4px #808080;
}
.navimenu2 {
	margin-top: 10px;
	padding-bottom: 6px;
	display: none;
	background-color: white;
	min-width: 100%;
	position: absolute;
	z-index: 999;
	box-shadow: 0px 5px 2px -4px #808080;
}
.navimenu3 {
	margin-top: 10px;
	padding-bottom: 6px;
	display: none;
	background-color: white;
	position: absolute;
	min-width: 100%;
	z-index: 999;
	box-shadow: 0px 5px 2px -4px #808080;
}
.navimenu4 {
	margin-top: 10px;
	padding-bottom: 6px;
	display: none;
	background-color: white;
	position: relative;
	position: absolute;
	min-width: 100%;
	z-index: 999;
	box-shadow: 0px 5px 2px -4px #808080;
}



